.App {
  font-family: sans-serif;
  text-align: center;
}


html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .container-width {
    width: 80%;
    margin: 0 auto;
  }
}